@tailwind base;
@tailwind components;
@tailwind utilities;

img.rounded-full {
  margin-top: -96px;
  z-index: 99;
}

.tabss {
  
  background-color: rgb(213 213 213);
}

.border-0 {
  border: none;
}

.formbg {
  margin-top: -70px;
}


.footer {
  margin-top: -80px;
}

.news {
  margin-top: -100px;
}


.gallery {
  margin-top: -80px;
 
}

.social {
  margin-top: -30px;
}
.gal {
  margin-top: -60px;
}